[project]
name = "{{ project_name }}"
version = "0.0.0"
description = "{{ description }}"
authors = []
readme = "README.md"
requires-python = ">={{ min_python_version }},<4"
dependencies = [
{% if use_py_click -%}
    "click (>=8.2.1,<9.0.0)"
{%- endif %}
]


[project.scripts]
{{ project_name }} = "{{ root_module_name }}.main:main"


[tool.poetry]
packages = [{ include = "{{ root_module_name }}", from = "src" }]


[tool.poetry.group.dev.dependencies]
black = "^25.1.0"
isort = "^6.0.1"
{% if use_commitizen -%}
commitizen = "^4.8.3"
{%- endif %}
{% if use_pre_commit -%}
pre-commit = "^4.2.0"
{%- endif %}


{% if use_commitizen -%}
[tool.poetry.group.docs.dependencies]
mkdocs = "^1.6.1"
mkdocstrings = "^0.29.1"
mkdocs-material = "^9.6.14"
mkdocs-autorefs = "^1.4.2"
{%- endif %}


[tool.poetry.group.test.dependencies]
pytest = "^8.4.0"
pytest-asyncio = "^1.0.0"


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
log_cli_level = "DEBUG"


[tool.black]


[tool.isort]
profile = "black"
src_paths = ["src", "tests"]
skip_gitignore = true


{% if use_commitizen -%}
[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "v$major.$minor.$patch$prerelease"
version_scheme = "pep440"
version_provider = "poetry"
update_changelog_on_bump = true
major_version_zero = true
#changelog_start_rev = "v0.1.0"
changelog_incremental = false
allowed_prefixes = ["fixup!", "squash!"]
{%- endif %}
{#
vim: syntax=toml
#}
