# {{ project_name }}

**Mermaid example:**

```mermaid
graph LR
    hello --> world
    world --> again
    again --> hello
```

**Code example:**

```python
print("Hello world!")
```

**Link example:** [{{ root_module_name }}.main][]
